<!DOCTYPE html>
<!-- Declares the document as HTML5 -->
<HTML lang="en">
    <!-- Begins the HTML document and sets the language to English -->
    <HEAD>
        <!-- Starts the head section of the document -->
        <TITLE>HBNB</TITLE>
        <!-- Sets the title of the HTML document to 'HBNB' -->
    </HEAD>
    <BODY>
        <!-- Begins the body section of the document -->
        {% if n %}
        <!-- Checks if the variable 'n' is defined -->
        <H1>Number: {{ n }}</H1>
        <!-- Displays 'Number: <value of n>' inside an H1 heading -->
        {% endif %}
        <!-- Ends the if condition -->
    </BODY>
    <!-- Closes the body section of the document -->
</HTML>
<!-- Closes the HTML document -->
